<div class="course-card"
    [ngClass]="cardClasses()"
    *ngIf="course">

    <div class="course-title" *ngIf="hasTitle(); else noTitle">
        {{cardIndex || '' + ' ' + course.description}}
    </div>

    <img #courseImage width="300" alt="Angular Logo" 
    *ngIf="isImageVisible(); else noImage"
    [src]="course.iconUrl">
    
    <ng-template #noImage>
        <p> No image... </p>
    </ng-template>

    <ng-template #noTitle>
        <p> No title </p>    
    </ng-template>

    <div class="course-description">
       {{ course.longDescription }}
    </div>

    <ng-container [ngSwitch]="course.category">
        <div class="course-category">
            <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
            <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
            <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
            <div class="category" *ngSwitchDefault>All Levels</div>
        </div>
    </ng-container>

    <button (click)="onCourseViewed()">View Course</button>
</div>
